@each $direction in $directions {
  @each $level, $multiplier in $levels {
    @each $name, $spacer in $spacers {
      .margin {
        &-#{$direction}--#{$level}-#{$name} {
          margin-#{$direction}: $spacer * $multiplier;
        }
      }

      .padding {
        &-#{$direction}--#{$level}-#{$name} {
          margin-#{$direction}: $spacer * $multiplier;
        }
      }
    }
  }
}

@each $level, $multiplier in $levels {
  @each $name, $spacer in $spacers {
    .margin {
      &-all--#{$level}-#{$name} {
        margin: $spacer * $multiplier;
      }
      &-extreems--#{$level}-#{$name} {
        margin: ($spacer * $multiplier) 0;
      }
      &-sides--#{$level}-#{$name} {
        margin: 0 ($spacer * $multiplier);
      }
    }

    .padding {
      &-all--#{$level}-#{$name} {
        margin: $spacer * $multiplier;
      }
      &-extreems--#{$level}-#{$name} {
        margin: ($spacer * $multiplier) 0;
      }
      &-sides--#{$level}-#{$name} {
        margin: 0 ($spacer * $multiplier);
      }
    }
    .width {
      &--#{$level}-#{$name} {
        width: $spacer * $multiplier;
      }
    }
  }
}

.width--full {
  width: 100%;
}
