.nav {
  padding: 16px 0px;
  z-index: 999;
  transition: background-color 0.32s ease-in-out, box-shadow 0.32s ease-in-out;

  &--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__burger {
    position: relative;
    width: 40px;
    height: 28px;
    z-index: 999;
    cursor: pointer;

    &--line {
      position: absolute;
      left: 0;
      height: 4px;
      z-index: 999;
      background-color: neutral("white");
      transition: width 0.32s ease-in-out, opacity 0.32s ease-in-out,
        transform 0.32s ease-in-out;

      &.top {
        top: 0;
        width: 32px;
        &.opened {
          width: 40px;
          transform: translateY(12px) rotateZ(45deg);
        }
      }

      &.middle {
        top: 12px;
        width: 40px;
        &.opened {
          opacity: 0;
          transform: translateX(-40px);
        }
      }

      &.bottom {
        bottom: 0;
        width: 24px;
        &.opened {
          width: 40px;
          transform: translateY(-12px) rotateZ(-45deg);
        }
      }
      &.black {
        background-color: neutral("black");
      }
    }
    &:hover &--line {
      width: 40px;
    }
  }
  &__menu {
    position: absolute;
    top: -640%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 48px 0;
    width: 100vw;
    z-index: 99;
    background-color: neutral("white");
    transition: top 0.32s ease-in-out;
    &.opened {
      top: 128%;
    }
  }
  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 100%;
    font-size: font-size("lg");
    color: neutral("black");
    transition: color 0.32s ease-in-out, background-color 0.32s ease-in-out;
    &.black {
      color: neutral("black");
    }
    &:hover {
      color: neutral("white");
      background-color: brand("red");
    }
  }
  &__brand {
    width: 128px;
    z-index: 999;
  }
  &__cta {
    display: none;
    z-index: 999;
  }

  &.scrolling {
    background-color: neutral("white");
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  }
  /* RESPONSIVENESS */
  // Landscape
  @include responsive(xs) {
  }

  // Tablet
  @include responsive(sm) {
    &__brand {
      min-width: 160px;
    }
  }

  // Desktop
  @include responsive(md) {
    &__burger {
      display: none;
    }
    &__menu {
      position: static;
      flex-direction: row;
      gap: 0;
      padding: 0;
      width: 100%;
      background: none;
    }
    &__link {
      width: auto;
      font-size: font-size("md");
      color: neutral("white");
    }
    &__cta {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
