.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 32px;
  width: 100%;
  height: 64px;
  font-family: $font-heading;
  font-size: font-size("h2-dk");
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.01em;
  color: neutral("black");
  background-color: neutral("white");
  border: solid 4px neutral("black");
  transition: color 0.32s ease-in-out, background-color 0.32s ease-in-out,
    border 0.32s ease-in-out;

  svg {
    width: 32px;
  }

  &--primary {
    color: neutral("white");
    background-color: brand("red");
    border: solid 4px brand("yellow");
    &:hover {
      color: brand("red");
      background-color: brand("yellow");
      border: solid 4px brand("red");
    }
  }

  &--secondary {
    color: brand("red");
    background-color: brand("yellow");
    border: solid 4px brand("red");
    &:hover {
      color: neutral("white");
      background-color: brand("red");
      border: solid 4px brand("yellow");
    }
  }

  &--link {
    width: auto;
    color: neutral("white");
    background: none;
    border: none;
    &:hover {
      background-color: brand("red");
    }
    &.black {
      color: neutral("black");
      background: none;
      border: none;
      &:hover {
        color: neutral("white");
        background-color: brand("red");
      }
    }
  }

  &--vertical {
    flex-direction: column;
    &:hover {
      background: none;
    }
    img {
      transition: transform 0.32s ease-in-out;
      &.hovered {
        transform: translateY(8px);
      }
    }
  }

  &.border--red {
    border-color: brand("red");
  }

  /* RESPONSIVENESS */

  // Tablet
  @include responsive(sm) {
    width: 240px;
    &--link {
      width: auto;
    }
  }
}
